<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
    	<!-- 一、 数据库连接的参数配置 -->
    	<property name="hibernate.connection.url">jdbc:mysql:///hib_demo</property>
    	<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    	<property name="hibernate.connection.username">root</property>
    	<property name="hibernate.connection.password">root</property>
    	<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    
    	<!-- 二、 hibernate其他常用配置 -->
    	<property name="hibernate.show_sql">true</property><!--
    	<property name="hibernate.format_sql">true</property>
    	--><property name="hibernate.hbm2ddl.auto">update</property>
    	
    	<!-- 三、加载映射文件
    	<mapping resource="cn/itcast/a_status/Employee.hbm.xml"/>
    	<mapping resource="cn/itcast/b_lazy/Employee.hbm.xml"/> -->
    	
    </session-factory>
</hibernate-configuration>